.body {
    background-image: url(waste-electrical-electronic-equipment-creating-260nw-303965150.webp);
    background-repeat: no-repeat;
    background-size: 1550px 800px;
   
}
.home {
    margin-left: 900px;
    margin-right: 0px;
}


.recycling {
    margin-left: -130px;
    
}